<section class="py-5 text-center container dancing_letter ">
    <div class="row ">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light display-1">Como Comprar</h1>
            <p class="lead text-light display-6">Antes de cotizar, te recomendamos revisar esta información. Así podrás
                agilizar
                el proceso y recibir tu producto lo más rápido posible.</p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!-- primera imagen calendario -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/calendar.jpg"
                        alt="calendar">


                    <div class="card-body">
                        <p class="card-text">Haz tu pedido con al menos 5 días de anticipación para garantizar una
                            entrega puntual.</p>
                    </div>
                </div>
            </div>
            <!-- segunda imagen personalizacion -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="50%" height="225" src="/personalizado_1.jpg"
                        alt="calendar">


                    <div class="card-body">
                        <p class="card-text">Cada cuaderno es completamente personalizado, con diseños y detalles únicos
                            en cada uno.</p>
                    </div>
                </div>
            </div>
            <!-- tercera imagen money -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="50%" height="225" src="/money2.jpg"
                        alt="calendar">


                    <div class="card-body">
                        <p class="card-text">Para iniciar la creación de tu diseño, es necesario un pago inicial del 50%
                            del total.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class=" py-5 text-center container dancing_letter">
    <div class="row ">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light display-1">Ten Presente Que:</h1>
            <p class="lead text-light display-6">La entrega se realizará únicamente cuando el pedido haya sido pagado en
                su totalidad.</p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <section class=" py-5 text-center container dancing_letter bg-light">
        <div class="row ">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light display-1">Alguno de nuestros Trabajos:</h1>
            </div>


        </div>
    </section>
</div>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!-- primera imagen  -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="/cuaderno_2.jpg"
                        alt="calendar">
                </div>
            </div>
            <!-- segunda imagen  -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="50%" height="350" src="/cuaderno_3.jpg"
                        alt="calendar">
                </div>
            </div>
            <!-- tercera imagen  -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="50%" height="355" src="/cuaderno_4.jpg"
                        alt="calendar">
                </div>
            </div>
            <!-- cuarta imagen  -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="/cuaderno_5.jpg"
                        alt="calendar">
                </div>
            </div>
            <!-- quinta imagen  -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="/cuaderno_6.jpg"
                        alt="calendar">
                </div>
            </div>
            <!-- sexta imagen  -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="/cuaderno_7.jpg"
                        alt="calendar">
                </div>
            </div>
            <!-- septima imagen  -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="/cuaderno_8.jpg"
                        alt="calendar">
                </div>
            </div>
            <!-- octava imagen  -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="/cuaderno_9.jpg"
                        alt="calendar">
                </div>
            </div>
            <!-- novena imagen  -->
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="/cuaderno_10.jpg"
                        alt="calendar">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="py-5 text-center container dancing_letter ">
    <div class="row ">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light display-1">Haz tu pedido</h1>
            <p class="lead text-light display-6">
                ¿Tienes una idea en mente? Contáctanos por WhatsApp o Instagram y la transformaremos en un increíble
                cuaderno personalizado.
            </p>
        </div>
    </div>
</section>