<!-- primer feature  -->

<div class="row featurette gradient-background align-items-center text-center">
    <div class="col-md-7 d-flex flex-column justify-content-center py-5">
        <h2 class="featurette-heading font-monospace">Diseño 100% Personalizado. <span class="text-light">Detalles
                increíbles.</span></h2>

        <p class="lead ms-3 text-wrap">Cada cuaderno es único y hecho a medida según tus preferencias. Puedes elegir el
            diseño de la
            portada, el tipo de papel, colores y detalles especiales.</p>
    </div>
    <div class="col-md-5 d-flex justify-content-end">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid ms-auto" width="500"
            height="500" src="/cuaderno_1.jpeg" alt="cuaderno">
    </div>
</div>

<!-- Segundo feature  -->
<div class="row featurette align-items-center text-center">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Materiales de Alta Calidad. <span class="text-muted">¡Velo por ti mismo!</span>
        </h2>
        <p class="lead">Utilizamos materiales resistentes y duraderos para garantizar que tu cuaderno tenga una
            excelente presentación y una larga vida útil</p>
    </div>

    <div class="col-md-5 d-flex justify-content-start">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid ms-0" width="500" height="500"
            src="/c1_abierto.jpg" alt="cuaderno">
    </div>
</div>



<!-- tercer feature  -->
<div class="row featurette gradient-background align-items-center text-center">
    <div class="col-md-7 d-flex flex-column justify-content-center py-5">
        <h2 class="featurette-heading font-monospace">Ideal para Regalos y Uso Personal. <span class="text-light">Pide el
                Tuyo!.</span></h2>

        <p class="lead ms-3 text-wrap">Perfectos para el día a día, la oficina, la escuela o como un regalo especial. Un
            detalle único que combina funcionalidad y creatividad.</p>
    </div>
    <div class="col-md-5 d-flex justify-content-end">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid ms-auto" width="500"
            height="500" src="/c1_abierto2.jpg" alt="cuaderno">
    </div>
</div>

