<footer class="footer bg-dark py-4 mt-auto text-center text-md-start d-flex px-5 align-items-center">
    <span class="text-light ms-3">&copy; <span id="year"></span> MiraFig | Todos los derechos reservados.</span>
    <a href="https://www.instagram.com/mirafig_/" target="_blank" class="ms-4 me-3">
        <i class="fab fa-instagram text-light fs-4"></i>
    </a>
</footer>