<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/mirafig.jpg" class="d-block mx-lg-auto img-fluid" alt="mirafig pic" width="700" height="500"
                loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Cuadernos personalizados que reflejan tu estilo y creatividad.</h1>
            <p class="lead">En MiraFig cada uno de nuestros cuadernos es elaborado con materiales de calidad y detalles
                únicos, ideales para
                organizar tus ideas, plasmar tus pensamientos o llevar un diario especial. Personaliza colores, portadas
                y detalles para que tu cuaderno sea tan único como tú. Perfectos para regalar o para acompañarte en tu
                día a día. ¡Déjate inspirar y crea el tuyo hoy!</p>

        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/about" class="btn btn-info btn-lg px-4 me-md-2">Infórmate de cómo Pedir</a>
        </div>
    </div>
</div>