.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  

  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.whatsapp-float img {
    width: 40px;
    height: 40px;
}

.whatsapp-float:hover {
    background-color: #1ebe57;
    transform: scale(1.1);
    transition: 0.3s;
}


.dancing_letter{
  font-family: "Dancing Script", cursive;
  font-weight: 300px; 
  font-style: normal;
}




  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }